.table__btn {
    padding: 20px 40px 20px 40px;
    width: 100%;

    font-size: 20px;
    font-weight: bold;

    border: none;
    background-color: white;
    cursor: pointer;
}

.table__btn:hover {
    opacity: 0.5;
}

.table__btn:active {
    background-color: #edeef0;
}

.table__btn:focus {
    outline: none;
}
